body {
  font-family: "Caudex", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("/images/bg_main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  background-color: rgba(23, 18, 36, 0.5);
  padding: 6px;
  max-width: 480px;
  margin: 12px auto 0 auto;
  border-radius: 24px;
  border: 2px solid hsla(27, 27%, 8%, 0.75);
}

.logo {
  width: 100px;
}

h1 {
  color: antiquewhite;
}
